{% extends 'portfolio/base.html' %}
{% block content %}
    {% load static %}
    <section id="emails">
        <div class="text-left">

        {% for email in emails %}
        <div class="row">
        <ul>
            <li>
                {{ email.name }} - {{ email.create_date}} - {{ email.email}}
                <p> <b>Subject:</b> {{ email.subject }}</p>
                <p> {{email.message }}</p>
            </li>
        </ul>
        {% endfor %}
        </div>

        </div>
    </section>

{% endblock %}