
{% block content %}
<div class="modal-dialog modal-dialog-centered">
<div hx-post="{{ request.path }}" action="{{ request.path }}" class="modal-content" >
  {% csrf_token %}
  <div class="modal-header">
    <h5 class="modal-title"><b>{{ techstack.tech_summary }}</b></h5>
    <button type="button" class="btn-close" aria-label="Close" data-dismiss="modal"></button>
  </div>
  <div class="modal-body">
    {{ techstack.tech_description|safe }}
  </div>
  <div class="modal-footer">
  </div>
    </div>
</div>
{% endblock %}



<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--<head>-->


<!--  <title>{{ techstack.tech_summary }}</title>-->
<!--  </head>-->


<!--<body>-->
<!--    <div id="popup" class="modal fade" role="dialog">-->
<!--      <div class="modal-dialog modal-lg">-->
<!--        <div class="modal-content">-->
<!--          <div class="modal-body">-->
<!--              <p class="bg-info text-white pl-2">-->
<!--              {{ techstack.tech_description }}-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="modal-footer">-->
<!--            <button type="button" class="btn btn-info" data-dismiss="modal">Close-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--</div>-->
<!--</body>-->

<!-- To place above the incident-modal html -->
<!--<script>-->

<!--</script>-->
<!--</html>-->