{% extends 'portfolio/base.html' %}
{% block content %}
    {% load static %}

       <div class="Container text-left">
            {% for blog in blogs %}
           <div class="col-xl-10 offset-xl-1">
                <div class="col-lg" align="left">
                   <div class="row">
                        {% if forloop.counter|divisibleby:"2" %}

                            <section id="sc1_blogs_{{blog.id}}"  class="sec-color-alternate" xmlns="http://www.w3.org/1999/html">
                                {% else %}
                                <section id="sc_blogs_{{blog.id}}"  class="sec-color" xmlns="http://www.w3.org/1999/html">
                           {% endif %}
                           <div id="blog_{{ blog.id}}" class="col" >
                             <h4><a href="#blogs_{{ blog.id}}" data-toggle="collapse" align="left">{{ forloop.counter }}. {{ blog.summary_header }}</a>
                                </h4>

                           </div>

                            <div class="collapse" id="blogs_{{ blog.id }}">
                                <div class="col" align="left">
                             <p> {{ blog.description|safe }}</p>
                                    </div>
                                <div class="col" align="right">
                                <h5 class="gray-text" >{{ blog.date|date:'M d Y' }}</h5>
                                </div>
                             </div>
                         </section>

                   </div>
                </div>
           </div>
            {% endfor %}
       </div>


{% endblock %}