{% extends 'portfolio/base.html' %}
{% block content %}
    <h2>{{ blog.summary_header }}</h2>
      <div class="Container text-left">
            {% for blog in blogs %}
           <div class="col-xl-10 offset-xl-1">
               <div class="row">
                <section id="sc_blogs_{{blog.id}}"  class="sec-color-alternate" xmlns="http://www.w3.org/1999/html">
                    <a><h2>{{ blog.summary_header }}</h2></a>
                    <br>
                    <p> {{ blog.description|safe }}</p>
                    <br>
                    <p> {{ blog.date|date:'M d Y' }}</p>
                </section>
               </div>
            {% endfor %}
               </div>
           </div>
{% endblock %}