
.navbar-nav .nav-link {
    color: rgba(0,0,0,1) !important;

}

.navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.5) !important;
}

body {
    font-family: 'Lato':400,700:;
    padding-top: 70px;
}

#blogtitle {
    font-size: 8rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }

.green-text {
    color: rgba(0,0,0,.5);
}

.gray-text {
    color: #808080
}


.h5_color {
    color: #808181;
}

.sec-color {
background-color: #EBEBEB;
}

.sec-color-alternate {
background-color: #F8F8FF;
}

p {
    font-size: 1.10rem;
}




